/* home.module.scss */
.homeContainer {
  position: relative;
  left: 10px;
  z-index: 6;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.249);
  padding: 20px;
  width: 290px;
  background-color: var(--theme-color);
  @media (max-width: 768px) {
    position: absolute;
    bottom: 0;
    width: 100%; /* Adjust height for mobile screens */
    margin: 0;
    left: 0;
  }
}

.cardBgImg {
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 10px;
}
