@import url("https://fonts.googleapis.com/css?family=Alata");
:root {
  --background-color: white;
}

*:not(i) {
  font-family: "Alata", serif !important;
}
.content {
  margin: 5px;
}

.content > .header {
  padding-bottom: 4px;
}

.content > .description {
  padding-bottom: 4px;
}

#history-img {
  transform: translateY(10px);
  width: 50px !important;
}

.main-scss {
  overflow-y: scroll;
  $backgroundColor: var(--background-color);
  height: 100%;
  background-blend-mode: lighten;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 200px 200px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("/bg.jpg");
}

.bg_rgba {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.ui.search .prompt {
  border-radius: 0.2rem;
  width: 400px;
}
@media screen and (max-width: 480px) {
  .ui.search .prompt {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
