@import url("https://fonts.googleapis.com/css?family=Alata");
:root {
  --background-color: white;
  --primary-color: red;
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: (var(--primary-color));
    border-radius: 5px;
  }
}

*:not(i) {
  font-family: "Alata", serif !important;
}
.content {
  margin: 5px;
}

.content > .header {
  padding-bottom: 4px;
}

.content > .description {
  padding-bottom: 4px;
}

#history-img {
  transform: translateY(10px);
  width: 50px !important;
}

.dashboard {
  display: flex;
  max-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.main-scss {
  $backgroundColor: var(--background-color);
  min-height: calc(100vh - 120px);
  background-blend-mode: lighten;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 200px 200px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("/bg.jpg");
}

.ui.search .prompt {
  border-radius: 0.2rem;
}
@media screen and (max-width: 768px) {
  .ui.search .prompt {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
