@import url("https://fonts.googleapis.com/css?family=Alata");
:root {
  --background-color: white;
  --primary-color: black;
  --theme-color: #1b1c1d;

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: (var(--primary-color));
    border-radius: 5px;
  }
}

*:not(i) {
  font-family: "Alata", serif !important;
}
.content {
  margin: 5px;
}

.content > .header {
  padding-bottom: 4px;
}

.content > .description {
  padding-bottom: 4px;
}

#history-img {
  transform: translateY(10px);
  width: 50px !important;
}

.dashboard {
  display: flex;
  max-height: 100dvh;
  flex-direction: column;
  overflow: hidden;
}

.ui.search .prompt {
  border-radius: 0.2rem;
}
@media screen and (max-width: 768px) {
  .ui.search .prompt {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
