:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --primary-color: #007bff;
  --primary-color-light: #339dff;
}

.dark-mode {
  --bg-color: #121212;
  --text-color: #ffffff;
  --primary-color: #1e90ff;
  --primary-color-light: #63b1ff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
